.navbar
{
    z-index: 999;
    background-color: #EDF6FC99;
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px)
}

.navbar-patinhas
{
 justify-content: space-between;
}

.navbar-nav
{
    gap: 1rem
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show
{
    font-weight: bolder;
    color: #333333;
}

.logo-patinhas
{
    height: 40px;
}

.inicio
{
    height: calc(100% - 66px);
    position: relative;
}




.titulo
{
    font-family: 'Titan One', cursive;
    font-size: 3.5rem;
}

.titulo-especies
{
    font-size: 1.1rem;
    font-weight: 800;
}

.lista-especies
{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1rem;
    max-width: 100%;
    flex-wrap: wrap;
    /* overflow-x: auto;
    height: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none; */
  }
  
  .lista-especies::-webkit-scrollbar {
    display: none;
  }
  

.lista-especies li 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    position: relative;
    
}
.lista-especies li img
{
    border-radius: 50%;
    width: 5rem;
    border: 1px solid #d0d7ea;
    padding: 0.25rem
}

.lista-especies li label
{
    text-align: center;
    border: 3px solid #d0d7ea;
    border-radius: 1rem;
    display: none;
    position: absolute;
    top: calc(100% + 0.25rem);
    left: 0;
    width: 100%;
    color: #fff;
    background-color: #19063d;
    font-size: 0.9rem;
    z-index: 999;
}

.lista-especies li:hover label
{
    display: block;
}

.img-pet
{
    height: 100%;
}

.img-barkground{
    position: absolute;
    top: -66px;
    right: 0;
    height: 100%;

}

.img-barkground-md
{
    display: none;
}

.items-servicos
{
    display: flex;
}



.item-servico .imagem img
{
    max-width: 100%;
}

@media only screen and (max-width: 1200px) {
    .img-barkground
    {
        display: none;
    }

    .img-barkground-md
    {
        width: 100%;
        position: relative;
        display: inline-block;
        overflow: hidden;
        margin: 0;

        
        
    }

    .img-barkground-md img
    {
        width: 100%;
    }
  }

  @media only screen and (max-width: 991px) {
   

    .img-barkground-md
    {
        display: none;
    }
  }

